
<h1>Name:- <%= @user.name %></h1>

<p>Email:- <%= @user.email %></p>
<p>Mobile:- <%= @user.mobile %></p>
<p>This user will <span style="background-color:#FF0000"><%= @user.status %></span></p> 
<p><%= link_to "Edit Details" , edit_user_path(current_user)%></p>

<% if current_user.role=="Admin"%>
  <p><%= link_to "Block User" , users_block_path(user_id: @user.id)%></p>
  <p><%= link_to "UnBlock User" , users_unblock_path(user_id: @user.id)%></p>
<% end %>
