<h1>New Product</h1>

<%= form_for @product do |form| %>
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </div>
  
    <div>
      <%= form.label :detail %><br>
      <%= form.text_field :detail %>
    </div>
  
    <div>

      <%= form.label :price %><br>
      <%= form.text_field :price %>
    </div>
  
    <div>
      <%= form.label :image %><br>
      <%= form.file_field :image %>
    </div> 
    <div>
      <%= form.hidden_field :category_id %><br>
    </div> 



    <div>
      <%= form.submit "submit" %>
    </div>

  <% end %>

