    <%= image_tag @product.image ,width: 400 if @product.image.attached? %>
    <p><%= @product.name %></p>
    <h1>₹ <%= @product.price %></h1>
    <% if current_user.id !=@product.user_id %>    
    <div class="d-grid gap-1 col-2 m-">
        <a href="<%=product_offer_path() %>" class="btn btn-primary btn-lg " tabindex="-1" role="button" aria-disabled="true">Make offer</a>
    </div>
    <% end %>
    <p><%= @product.detail %></p>  
  
    <% if current_user.role=="Admin" || current_user.id ==@product.user_id %>    
        <p> <%= link_to "Edit", edit_user_product_path(current_user, @product.id) %></p>
        <p><%= link_to "Destroy", user_product_path(current_user, @product.id), data:{turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p> 
    <% end %>

    <% if current_user.role=="Admin" %>    
        <p><%= link_to "Accept Product" , product_accept_path(product_id: @product.id)%></p>
        <p><%= link_to "Reject Product" , product_reject_path(product_id: @product.id)%></p>
    <% end %>
    


